@charset 'utf-8';

//容器背景色
$bg-color-gray: #F5F5F5;
$bg-color-lightGray: #F7F7F7;
$bg-color-blue: #01C1FF;
$bg-color-white: #fff;
$bg-color-orange: #ff6b11;
$bg-color-deepBlue: #40B2F5;

//按钮背景色
$button-bg-color-blue: #4ABDFF;
$button-bg-color-white: #fff;

//文字颜色
$text-color-deepGray: #333;
$text-color-normalGray: #999;
$text-color-lightGray: #cdcdcd;
$text-color-lighterGray: #e6e6e6;
$text-color-white: #fff;
$text-color-blue: #67C6FE;
$text-color-deepBlue: #4ABDFF;
$text-color-orange: #FF6B11;
$text-color-pink: #FF5F67;
$text-color-lightWhite: #FFFEFE;
$text-color-666:#666;
$text-color-40b2f5: #40b2f5;
$text-color-FF273E: #FF273E;
$text-color-ffdfe2: #ffdfe2;

// 线条
$line-color-lightGray: #e6e6e6;
$line-color-gray: #f5f5f5;

//字体大小
$font-size-90: 0.90rem;
$font-size-76: 0.76rem;
$font-size-60: 0.60rem;
$font-size-46: 0.46rem;
$font-size-44: 0.44rem;
$font-size-42: 0.42rem;
$font-size-36: 0.36rem;
$font-size-32: 0.32rem;
$font-size-30: 0.30rem;
$font-size-28: 0.28rem;
$font-size-26: 0.26rem;
$font-size-24: 0.24rem;
$font-size-22: 0.22rem;
$font-size-20: 0.20rem;
$font-size-60: 0.60rem;

